:root {
  $unit: 1rem;
  $color-bg: #18355D;
  $color-bg-darker: darken($color-bg, 2%);
  $color-text: #33E026;
  $height-app-header: 4 * $unit;
  $height-app-footer: $height-app-header;

  --unit: #{$unit};
  --height-app-header: #{$height-app-header};
  --height-app-footer: #{$height-app-footer};
  --color-bg: #{$color-bg};
  --color-bg-darker: #{$color-bg-darker};
  --color-text: #{$color-text};
}
